# Build
/dist
/lib
/lib-types
/server
/bin

.env*
!.env.example
*.local

# Cache
.cache
**/node_modules/

# Logs
logs
*.log

# Editor
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/*.code-snippets

.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Claude
.claude/*.local.json

*.exe

**/*.confidental.*
