
.main-content-menu {
    position: relative;
    width: 0px;
    height: 100vh;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.8);
    background-color: black;
    color: white !important;
    transition: width 0.3s;
    z-index: 100;
    overflow-x: hidden;
    overflow-y: scroll;

    .field {
        .label {
            color: white;
        }
    }

    .main-content-menu-wrapper {
        position: absolute;
        width: 400px;
        padding: 2rem;
    }

    &.is-active {
        z-index: 101;
        width: 400px;
        transition: width 0.3s;
    }
}
