
.menu-logo {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    h1 {
        font-size: 10pt;
        color: white;
    }
}

.columns {
    width: 100%;
    height: 100%;
    margin: 0;
}

.nav-menu {
    flex: none;
    min-width: 250px;
    width: 10%;
    background-color: black;
    border-right: 1px solid #282828;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;

    .nav-menu-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        font-size: 7pt;
        text-align: center;
        padding: 1rem;
    }
}
