
.matrix-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;

    .matrix-header {
        width: 100%;
        padding: 0.5rem;
        border-bottom: 1px solid #282828;
        display: flex;
        flex-direction: row;
        align-items: center;

        .buttons {
            margin: 0;

            &:not(:first-child) {
                margin-left: 0.5rem;
            }
        }
    }

    .matrix-content {
        flex: 1;
        overflow-y: auto;

        table {
            margin: 0.5rem;
            font-size: 9pt;
        }
    }
}
